RapidFTR-Blackberry/bin/*
RapidFTR-Blackberry/deliverables/*
RapidFTR-Blackberry-Tests/bin/*
RapidFTR-Blackberry-Tests/deliverables/*
RapidFTR-Blackberry-Tests/.classpath
RapidFTR-Blackberry/.classpath
RapidFTR-Blackberry-Tests/.classpath
RapidFTR-Blackberry-Tests/.settings
RapidFTR-Blackberry/src/com/rapidftr/utilities/Properties.java
out/*
.idea/workspace.xml
bb-build/**
bb-test/**
release/**
build.properties
/*.zip
