<screens>
	<screen id="0" name="LoginScreen">
		<action id="1" type="push" screenId="1" />

		
		<!-- 
		<action id="2" type="pop" count="1" />
	
		 -->
	</screen>
	
	<screen id="1" name="HomeScreen">
		<action id="1" type="push" screenId="4" />
		<action id="2" type="push" screenId="7" />
	</screen>
	
	<screen id="4" name="RecordCreationScreen">
	</screen>
	
	<screen id="7" name="SearchScreen">
	</screen>
</screens>