<screens>
	<screen id="0" name="LoginScreen">
		<action id="1" type="push" screenId="1" />
	</screen>
	
	<screen id="1" name="HomeScreen">
		<action id="1" type="push" screenId="4" />
		<action id="2" type="push" screenId="7" />
	</screen>
	
	<screen id="2" name="IdentificationScreen"> 
		<action id="1" type="pop" />
	</screen>

	<screen id="3" name="NavigatorScreen">
		<action id="1" type="push" screenId="6" /> <!-- save -->
		<action id="2" type="pop" screenId="1" /> <!-- close -->
		<action id="3" type="push" screenId="2" /> <!-- id. screen -->
	</screen>
		
	<screen id="4" name="RecordCreationScreen">
		<action id="1" type="push" screenId="3" /> <!-- open navigator screen -->
		<action id="2" type="pop" />
	</screen>

	<screen id="5" name="RecordEditScreen">
		<action id="1" type="push" screenId="3" /> <!-- open navigator screen -->
	</screen>
		
	<screen id="6" name="RecordReviewScreen">
		<action id="2" type="pop" screenId="1"/> <!-- close -->
		<action id="3" type="pop" /> <!-- edit -->
	</screen>
	
	<screen id="7" name="SearchScreen">
		<action id="1" type="push" screenId="5" /> <!-- record edit -->
		<action id="2" type="pop" /> <!-- close -->
	</screen>
</screens>


