<screens>
	<screen id="0" name="LoginScreen">
		<action id="1" type="push" screenId="1" />
	</screen>
	
	<screen id="1" name="HomeScreen">
		<action id="1" type="push" screenId="4" />
		<action id="2" type="push" screenId="7" />
	</screen>
	
	<screen id="2" name="IdentificationScreen"> 
		<action id="90" type="pop" />
	</screen>
	
	<screen id="3" name="NavigatorScreen">
		<action id="1" type="push" screenId="6" /> <!-- save -->
		
		<action id="3" type="push" screenId="2" /> <!-- id. screen -->
		<action id="4" type="push" screenId="8" /> <!-- family screen -->
		<action id="5" type="push" screenId="10" /> <!-- others screen -->
		<action id="6" type="push" screenId="9" /> <!-- options screen -->
		
		<action id="100" type="pop" screenId="1" /> <!-- close -->
	</screen>
		
	<screen id="4" name="RecordCreationScreen">
		<action id="1" type="push" screenId="3" /> <!-- open navigator screen -->
		<action id="3" type="push" screenId="7" />
		<action id="90" type="pop" />
	</screen>

	<screen id="5" name="RecordEditScreen">
		<action id="1" type="push" screenId="3" /> <!-- open navigator screen -->
	</screen>
		
	<screen id="6" name="RecordReviewScreen">
		<action id="1" type="push" screenId="3" /> <!-- open navigator screen -->
		
		<action id="90" type="pop" /> <!-- edit -->
		<action id="100" type="pop" screenId="1"/> <!-- close -->
	</screen>
	
	<screen id="7" name="SearchScreen">
		<action id="1" type="push" screenId="6" /> <!-- record edit -->
		<action id="90" type="pop" /> <!-- close -->
	</screen>
	
	<screen id="8" name="AddFamilyScreen"> 
		<action id="90" type="pop" />
	</screen>
	
	<screen id="9" name="SetOptionsScreen"> 
		<action id="90" type="pop" />
	</screen>
	
	<screen id="10" name="OtherDetailsScreen"> 
		<action id="90" type="pop" />
	</screen>
</screens>


